<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objective|Sound</title>
</head>
<body>
    <header>
        <nav>
            <section class="logo-container">
                <div class="logo">
                    <img class="logo-img" src="">
                </div>
            </section>
            <section class="nav-container">
                <div>
                    <ul class="nav-links">
                        <li class="nav-item" id="#about">ABOUT</li>
                        <li class="nav-item" id="#projects">PROJECTS</li>
                        <li class="nav-item" id="#events">EVENTS</li>
                        <li class="nav-item" id="#contact">CONTACT</li>
                    </ul>
                </div>
            </section>
        </nav>
    </header>
</body>
</html>