@import "./vars.css";
@import "./crt.css";

/* Header */

/* Navbar */
#navbar {
  font-family: VT323, serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  margin: 0 2vh;
}

.nav-logo-container  {

}

.nav-logo {
    width: 12vh;
    height: 12vh;
    padding: .25vh;
    border-radius: 1vh;
    opacity: 90
}

.nav-links-container {
  
}

.nav-links {
  display: flex;
  
}

.nav-item {
    font-family: "VT323", sans-serif;
    list-style: none;
    margin: 1vh;
    padding: 1.5vh;
    color: var(--color-01);
    font-size: 2vh;
    font-weight: 400;
}

.nav-item-jump {
  text-decoration: none;
  
}
.nav-item-jump:hover {

}
.nav-item-jump:after {

}

@media screen and (max-width: 830px) {
  .nav-logo-container, .nav-links-container {
    flex: wrap;
    justify-content: space-around;
  }

  .nav-logo {
    width: 10vh;
    height: 10vh;
    margin: 0;
    padding: .5vh; 
  }

  .nav-item {
    font-size: 1.5vh;
    font-weight: 400;
    padding: 1vh;
    margin: .5vh;
  }
  
}

/* Hero Section */

.hero-video-container {
    display: flex;
    justify-content: center;
    max-width: 90%;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
}

.hero-video-crt {

}

.hero-video {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    opacity: 95%;
    border-radius: 1.2vh;    
}

@media screen and (max-width: 830px) {

}

/* ABOUT Section */
.about-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 5%;
  margin: 5rem 0 10rem 0;
}

.about-creator {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

.about-img img{
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 4rem;
  margin: 1rem;
}

.about-name {
  display: flex;
  color: var(--color-01);
  font-size:3rem;
  margin-top: 1.5rem;
  margin-bottom: -1rem;
}

.about-title {
  display: flex;
  color: var(--color-05);
  font-size: 2rem;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 0;
}

.about-text {
  display: flex;
  text-align: center;
  color: var(--color-02);
  font-size: 1rem;
  margin-top: 0;

}


  
 