@import "./vars.css";
@import "./crt.css";

/* Header */

/* Navbar */
#navbar {
  font-family: VT323, serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0 20px;
}

.nav-logo-container  {

}

.nav-logo {
    width: 120px;
    height: 120px;
    padding: 1px;
    border-radius: 12px;
    opacity: 90
}

.nav-links-container {
  
}

.nav-links {
  display: flex;
  
}

.nav-item {
    font-family: "VT323", sans-serif;
    list-style: none;
    margin: 10px;
    padding: 20px;
    color: var(--color-01);
    font-size: 15px;
    font-weight: 400;
}

.nav-item-jump {
  text-decoration: none;
  
}
.nav-item-jump:hover {

}
.nav-item-jump:after {

}

@media screen and (max-width: 830px) {
  .nav-logo-container, .nav-links-container {
    flex: wrap;
    justify-content: space-around;
  }

  .nav-logo {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 5px;
    
  }
  .nav-item {
    font-size: 11px;
    font-weight: 400;
    padding: 10px;
    margin: 5px;
  }
}

/* Hero Section */

.hero-video-container {
    display: flex;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.hero-video-crt {

}

.hero-video {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    opacity: 95%;
    border-radius: 12px;    
}

@media screen and (max-width: 830px) {

}

/* ABOUT Section */
.about-container {
  display: flex;
  padding: 20px;
  gap: 5%;
}

.about-creator {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: content;
  align-items: center;
}

.about-img {
  display: flex;
  flex-basis: 100%;
  width: 45%;
  border-radius: 80px;
  margin: 1%;
  object-fit: cover;
}

.about-name {
  color: var(--color-01);
  font-size: 5vh;
  padding: 5px;
  margin: 5px;
}

.about-title {
  color: var(--color-05);
  font-size: 3vh;
  text-align: center;
  padding-bottom: 15px;
}

.about-text {
  width: 100%;
  text-align: center;
  color: var(--color-02);
  font-size: 2vh;
}


  
 