#root {
    color-dark: rgb (15, 4, 4);
    color-mid: rgb (112, 112, 96);
    color-light: rgb (255, 254, 255);
    color-01: rgb (57, 255, 20);
    color-02: rgb (211, 255, 0);
    color-03: rgb (255, 120, 200);
    color-04: rgb (255, 105, 180);
    color-05: rgb ();
}