@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    overflow: auto;
}

:root {
    --color-dark: rgb(0, 0, 0);
    --color-mid: rgb(112, 112, 96);
    --color-light: rgb(255, 254, 255);
    --color-01: rgb(57, 255, 20);
    --color-02: rgb(211, 255, 0);
    --color-03: rgb(247, 236, 66);
    --color-04: rgb(255, 120, 200);
    --color-05: rgb(227, 25, 182);
}

@font-face {
    font-family: "VT323", sans-serif;
    src: 
    local("VT323"),
    format("truetype");
}

body {
    background-color: var(--color-dark);
    font-family: "VT323";
}

